<?xml version="1.0" encoding="UTF-8"?>

<phpunit cacheResult="false" bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="All Distric5 Timer Tests">
            <directory>tests/TimerTests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>src/Timer</directory>
            <exclude>
                <directory>tests/TimerTests</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>